* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 14px;
  color: #c7c7c7;
  background: url("./assets/black-texture.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.content {
  background-color: #141414;
  border-radius: 8px;
  width: 375px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 6px;
  position: relative;
}

.content::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-background {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

.location-input {
  background-color: transparent;
  padding: 10px;
  width: 100%;
  position: relative;
  border-radius: 20px 0px 0px 20px;
  border: none;
  height: 100%;
}

.location-input:focus {
  outline: none;
}

.search-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0px 20px 20px 0px;
  padding: 5px 8px 5px 2px;
  height: 100%;
}

.find-location-button:hover {
  cursor: pointer;
}

.search-icon {
  height: 20px;
  width: 20px;
}

/* * ------------------ Current Card */

.current-card {
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  gap: 6px;
  padding: 10px;
  position: relative;
}

.f-symbol {
  position: absolute;
  top: 8px;
  left: 8px;
  font-weight: 700;
  font-size: 10px;
  background-color: rgb(96, 96, 96);
  padding: 5px;
  border-radius: 6px;
}

.city {
  text-align: center;
  font-size: 24px;
}

.date-time-ctr {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.date {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
}

.temp-icon {
  height: 80px;
  width: 80px;
}

.city-time-ctr {
  display: flex;
  flex-direction: column;
}

.temp-desc-ctr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.temp-desc1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.temp-desc2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.current-temp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  height: 80px;
}

.hl-ctr {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.temp-range-ctr {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
}

.temp-range-label {
  font-size: 10px;
}

.mintemp,
.maxtemp {
  font-size: 14px;
}

.times-ctr {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  gap: 12px;
}

.times-ctr::-webkit-scrollbar {
  display: none;
}

.time-ctr {
  background-color: rgb(255, 255, 255, 0.15);
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
}

.active {
  height: 100px;
  width: 140px;
  background-color: #141414;
  display: flex;
  align-self: center;
  justify-self: center;
}

.time-item {
  text-align: center;
  width: 42px;
}

.t-icon {
  height: 24px;
  width: 24px;
}

.weather-content {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.weather-content::-webkit-scrollbar {
  display: none;
}

.weather-desc-ctr {
  height: 100%;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 4px;
  border-radius: 8px;
}

.weather-desc-text {
  font-size: 12px;
}

.feels-like-img,
.uv-img,
.sun-icon {
  height: 20px;
  width: 20px;
}

.avg-humidity-img {
  height: 20px;
  width: 16px;
}

/* *------------------------------- Forecast */

.forecast-ctr {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 49%;
  background-color: rgb(255, 255, 255, 0.15);
  border-radius: 8px;
  gap: 6px;
  font-size: 12px;
  padding: 10px;
}

.forecast-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.forecast-description-ctr {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.forecast-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.forecast-date {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.forecast-description {
  font-size: 14px;
}

.forecast-temp-icon {
  height: 24px;
  width: 24px;
}

.forecast-weather-ctr {
  display: flex;
  align-items: center;
}

.forecast-temp-label {
  font-size: 10px;
}

.forecast-it-ctr {
  display: flex;
  align-items: center;
  gap: 3px;
}

.forecast-mintemp,
.forecast-maxtemp {
  font-size: 14px;
}

.forecast-avg-humidity-img {
  height: 16px;
  width: 12px;
}

.forecast-uv-img {
  height: 16px;
  width: 16px;
}

.weather-list {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  gap: 4px;
  width: 100%;
}

.forecast-weather-desc-ctr {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.forecast-sun-icon {
  height: 14px;
  width: 14px;
}

.top-wd-ctr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wd-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wd-img-ctr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.forecast-lh {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.forecast-times-ctr {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  display: flex;
  /* align-items: center; */
  gap: 12px;
}

.forecast-times-ctr::-webkit-scrollbar {
  display: none;
}

.forecast-time-ctr {
  background-color: rgb(255, 255, 255, 0.15);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 5px;
  border-radius: 8px;
}

.forecast-time {
  width: 32px;
  text-align: center;
  font-size: 10px;
}
