* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  background-color: #0b0e17;
  /* background: linear-gradient(90deg, #7474bf 10%, #348ac7 90%); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 14px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* position: relative; */
}

.content {
  background: linear-gradient(90deg, #7474bf 10%, #348ac7 90%);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  width: 360px;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: 6px;
  position: relative;
}

.content::-webkit-scrollbar {
  display: none;
}

.upper-content {
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  gap: 6px;
  padding: 10px;
  position: relative;
}

.city-time-ctr {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 14px;
}

form {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-background {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

.location-input {
  background-color: transparent;
  padding: 10px;
  width: 100%;
  position: relative;
  border-radius: 20px 0px 0px 20px;
  border: none;
  height: 100%;
}

.location-input:focus {
  outline: none;
}

.find-location-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0px 20px 20px 0px;
  padding: 5px 8px 5px 2px;
  height: 100%;
}

.find-location-button:hover {
  cursor: pointer;
}

.search-icon {
  height: 20px;
  width: 20px;
}

.local-time {
  font-size: 12px;
}

.current-location {
  font-size: 32px;
  line-height: 32px;
}

.temp-ctr {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}

.t-ctr {
  width: 100%;
  display: flex;
  align-items: center;
}

.description {
  font-size: 20px;
  width: 100%;
}

/* .t2 {
  width: 50%;
  display: flex;
  align-items: center;
} */

.temp-range-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp-range-label {
  font-size: 10px;
}

.hl-ctr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp-icon {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 0;
  right: 0;
}

.current-temp {
  text-align: center;
  font-size: 32px;
  width: 100%;
}

.mintemp {
  font-size: 14px;
}
.maxtemp {
  font-size: 14px;
}

.times-ctr {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  gap: 12px;
}

.times-ctr::-webkit-scrollbar {
  display: none;
}

.time-ctr {
  background-color: rgb(255, 255, 255, 0.15);
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
}

.time-item {
  text-align: center;
  width: 40px;
}

.t-icon {
  height: 24px;
  width: 24px;
}

.weather-content {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.weather-content::-webkit-scrollbar {
  display: none;
}

.weather-desc-ctr {
  height: 100%;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 4px; */
  background-color: rgba(255, 255, 255, 0.15);
  padding: 4px;
  border-radius: 8px;
}

.feels-like-img {
  height: 16px;
  width: 16px;
}

.feels-like {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.avg-humidity-img {
  height: 16px;
  width: 12px;
}
.avg-humidity {
  font-size: 12px;
}

.uv-img {
  height: 16px;
  width: 16px;
}
.uv-index {
  font-size: 12px;
}

.sunrise,
.sunset {
  font-size: 12px;
}

.sun-icon {
  height: 16px;
  width: 16px;
}

.sun-icon-f {
  height: 14px;
  width: 14px;
}

/* *------------------------------- Forecast */

.forecast-ctr {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.forecast-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 49%;
  background-color: rgb(255, 255, 255, 0.15);
  border-radius: 8px;
  gap: 6px;
  font-size: 12px;
  padding: 10px;
}

.forecast-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.description-ctr-f {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.description-f2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.date-f2 {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.description-f2 {
  font-size: 14px;
}

.temp-icon-f2 {
  height: 24px;
  width: 24px;
}

.weather-ctr-f {
  display: flex;
  align-items: center;
}

.temp-label-f {
  font-size: 10px;
}

.it-ctr-f {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avgtemp-2-text {
  font-size: 10px;
  text-align: center;
}

.avg-humidity-img-f {
  height: 16px;
  width: 12px;
}

.uv-img-f {
  height: 16px;
  width: 16px;
}

.weather-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.weather-desc-ctr-f {
  width: 100%;
  display: flex;
  align-items: center;
  /* gap: 10px; */
  flex-wrap: nowrap;
}

.top-wd-ctr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wd-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wd-img-ctr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.lh-f {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.times-ctr-f {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 8px;
}

.times-ctr-f::-webkit-scrollbar {
  display: none;
}

.time-ctr-f {
  background-color: rgb(255, 255, 255, 0.15);

  /* height: 42px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 5px;
  border-radius: 8px;
}

.f-time {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
